html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






html{
    font-size:18px;
    font-family: 'Roboto Slab',serif;
    scroll-behavior: smooth;
}
.navbar li{
   display: inline;
   float: right;
}

.navbar a{
    display: block;
    padding: 0.5em;
    background-color: #000000;
    color: white;
    font-size: 24px;
    
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;

}
.navbar ul{
    overflow: hidden;
}
.navbar a:hover, a:active{
    color: #00A8E8 ;
    border-radius: 10px;
}
.navbar .max-width .logo a:hover{
    color: white;
}
.navbar{
    background-color: #000000;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
}
body{
    width: 100%;
    height: 300vh;
    background-image: url(images/blackwp3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}
.lio{
    color: #00A8E8;
}
.navbar .logo a{
    font-size: 50px;
    background-color: #000000;
    z-index: 10;
}
.text-1{
    color: white;
    font-size: 50px;
    font-weight: 400;
    padding-left: 0.8em;
}
.text-2{
    color: white;
    font-size: 130px;
    font-weight: 700;
    padding: 0.3em;
}

.text-3{
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-left: 0.8em;
}



.entry_content{
    position: absolute;
    top: 55%;
    left: 9%;
    transform: translateY(-50%);
}
button{
    color: #00A8E8;
    padding: 0.5em 1.5em;
    background: transparent;
    border: 3px solid #00A8E8;
    outline: none;
    cursor: pointer;
    border-radius: 1em;
    font-size: 30px;
    margin-left: 1.3em;
    margin-top: 1.3em;
} 
button:hover{
    color: white;
    border: 3px solid white;
    transform: scale(1.05);
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 6px -6px rgb(255, 255, 255);
    -moz-box-shadow: 0 10px 6px -6px rgb(255, 255, 255);
    box-shadow: 0 10px 6px -6px rgb(255, 255, 255);
}

.menu-btn{
    color: white; 
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.ani-text{
    color: #00A8E8;
}






















@media screen and (max-width: 950px) {
    .navbar .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        
    }
    .home .entry_content{
        left: 6%;
    }

    .navbar .menu{
        position: fixed;
        background-color: #000000;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu .li{
        display: block;
        
    }
    .menu-btn i.active::before{
        content: \f00d;
    }
    .navbar li {
        float: none;
    }
    .navbar .menu .li a{
        display: inline-block;
        
    }
}
/* 
@media screen and (max-width: 450px){

    .menu li{
        display: block;
        float:none;
        padding:none;
    }
    .menu{
        justify-content: center;
        text-align: center;
        z-index: 10;
    }
    #home-li{
        float: none;
    }
    .menu a{
        font-size: 20px;
    }
    h1{
        color: white;
        font-size: 30px;
        font-weight: 700;
        padding: 0.2em;
    }
    h2{
        color: white;
        font-size: 15px;
        font-weight: 400;
        padding-left: 0.4em;
    }
    .entry_content{
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
    }
    button{
        color: white;
        padding: 0.5em 1.3em;
        background: transparent;
        border: 2px solid white;
        outline: none;
        cursor: pointer;
        border-radius: 1em;
        font-size: 15px;
        margin-left: 20px;
        margin-top: 20px;
    } 
} 
    */
